$bar-width: 30px;
$bar-height: 2px;
$bar-spacing: 10px;

.hamburger {
	width: $bar-width;
	// transform: translateY(-$bar-spacing);
	height: $bar-height + $bar-spacing * 2;
	cursor: pointer;
	display: none;
	@include atMedium {
		display: block;
	}
}

.hamburger-icon,
.hamburger-icon::before,
.hamburger-icon::after {
	width: $bar-width;
	height: $bar-height;
}

.hamburger-icon,
.hamburger-icon::before,
.hamburger-icon::after {
	width: $bar-width;
	height: $bar-height;
}

.hamburger-icon {
	position: relative;
	transform: translateY($bar-spacing);
	background: rgba(19, 19, 19, 1);
	transition: all 0ms 300ms;

	&.animate {
		background: rgba(19, 19, 19, 0);
	}
}

.hamburger-icon:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: $bar-spacing;
	background: rgba(19, 19, 19, 1);
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-icon:after {
	content: '';
	position: absolute;
	left: 0;
	top: $bar-spacing;
	background: rgba(19, 19, 19, 1);
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-icon.animate:after {
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-icon.animate:before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
