.reviews {
	.upper-banner {
		.container {
			flex-direction: column;
			justify-content: center;
			text-align: center;

			& > p {
				margin-top: 3rem;
				line-height: 1.6;
				@include atMedium {
					margin-top: 2rem;
				}
				@include atSmall {
					margin-top: 2rem;
				}
			}
		}
	}
	.wever-sign-wrapper {
		margin-top: 8rem;
		display: flex;
		@include atMedium {
			margin-top: 4rem;
		}
	}
	.wever-sign {
		&__title {
			font-weight: 700;
		}

		&__subtitle {
			margin: 0.5rem 0 2rem;
			@include atMedium {
				margin: 0.5rem 0 1rem;
			}

			@include atSmall {
				font-size: 1.4rem;
				margin: 0.2rem 0 1rem;
			}
		}

		&__space {
			width: 7rem;
			@include atMedium {
				width: 5rem;
			}

			@include atSmall {
				width: 3rem;
			}
		}

		img {
			width: 280px;

			@include atMedium {
				width: 220px;
			}

			@include atSmall {
				width: 140px;
			}
		}
	}
	.main-review {
		display: flex;
		justify-content: space-between;
		@include atSmall {
			flex-direction: column;

			.photo-box--lg .photo-box-image {
				margin-bottom: 0;
			}
		}

		&__text {
			font-size: 3.6rem;

			@include atMedium {
				font-size: 2.8rem;
			}

			@include atSmall {
				font-size: 2.2rem;
				margin-bottom: 3rem;
				font-weight: 400;
			}

			&::before {
				content: '';
				display: block;
				width: 40px;
				height: 40px;
				margin-bottom: 2rem;
				background-image: url('../images/icons/quotes-black.svg');
				background-size: cover;

				@include atMedium {
					width: 28px;
					height: 28px;
				}
				@include atSmall {
					width: 20px;
					height: 20px;
				}
			}
		}

		&__img {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 10rem;

			@include atMedium {
				padding: 0 5rem;
			}
			@include atSmall {
				justify-content: flex-start;
				padding: 0;
			}

			& .photo-box {
				text-align: center;
				align-items: center;

				@include atSmall {
					text-align: left;
					flex-direction: row;

					& p {
						margin-left: 2rem;
					}
				}
			}
		}
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 20rem -80px 0;

		@include atLarge {
			margin: 15rem -20px 0;
		}

		@include atSmall {
			margin: 4rem 0px 0;
		}
	}

	li {
		flex: 0 0 calc(50% - 160px);
		margin-left: 80px;
		margin-right: 80px;
		margin-bottom: 15rem;
		display: flex;
		justify-content: space-between;

		@include atLarge {
			flex: 0 0 calc(50% - 40px);
			margin-left: 20px;
			margin-right: 20px;
			margin-bottom: 12rem;
		}

		@include atSmall {
			flex: 0 0 100%;
			margin: 0;
			padding-top: 3rem;
			padding-bottom: 3rem;
			border-top: 1px solid $linegray;
			&:last-child {
				border-bottom: 1px solid $linegray;
				margin-bottom: 0;
			}
		}
	}

	&__text {
		font-size: 2.2rem;

		@include atMedium {
			font-size: 1.6rem;
		}

		@include atSmall {
			font-size: 1.6rem;
			font-weight: 300;
			display: flex;
			align-items: center;
		}
	}

	&__img {
		flex-shrink: 0;
		width: 160px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 1rem;

		@include atMedium {
			width: 120px;
			margin-left: 1rem;
		}

		@include atSmall {
			width: 100px;
			margin-left: 2rem;
		}

		.photo-box {
			align-items: center;
			text-align: center;
		}
	}
}
