		<footer class="site-footer">

			<video class="site-footer__video" muted playsinline loop autoplay="autoplay" preload="none" data-media-name="video" aria-hidden="true" src="https://wclub.co.kr/video/wclub_city.mp4" type="video/mp4">Sorry, your browser doesn't support embedded videos.</video>

			<div class="site-footer__bg"></div>
			<div class="site-footer__contents">
				<div class="container">
					<div class="site-footer__contents__logo">
						<img src="../images/logo_white.svg" alt="logo" />
						<p class="footer-slogan">Love doesn't come on its own.</p>
					</div>
					<div class="site-footer__contents__nav">
						<ul>
							<li>
								<p class="site-footer__contents__nav__title">Index</p>
								<nav>
									<a href="../features.html">Features</a> <a href="../how-it-works.html">How it works</a> <a href="../badges.html">Badges</a> <a href="../reviews.html">Review</a> <a href="../join.htm">Join</a>
									<div class="site-footer__contents__nav__social">
										<div>Contact</div>
										<div>
											<a class="site-footer__contents__nav__social__mail" href="#"></a>
											<a class="site-footer__contents__nav__social__ig" href="#"></a>
										</div>
									</div>
								</nav>
							</li>
							<li>
								<p class="site-footer__contents__nav__title">Resources</p>
								<nav><a href="#">Safe Dating Tips</a> <a href="#">FAQ</a></nav>
							</li>
							<li>
								<p class="site-footer__contents__nav__title">Legal</p>
								<nav><a href="#">Security</a> <a href="#">Terms</a> <a href="#">Privacy</a></nav>
							</li>
						</ul>
						<p class="site-footer__contents__nav__copyright">© 2022 Wever Corporation</p>
					</div>
				</div>
			</div>
		</footer>

		<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
	</body>
</html>