		<footer class="site-footer">
			<video class="site-footer__video" muted playsinline loop autoplay="autoplay" preload="none" data-media-name="video" aria-hidden="true" src="https://wclub.co.kr/video/wclub_city.mp4" type="video/mp4">
			Sorry, your browser doesn't support embedded videos. 
            </video>
			<div class="site-footer__bg"></div>
			<div class="site-footer__contents">
				<img src="../images/logo_white.svg" alt="logo" />
				<p class="serif footer-slogan">Love doesn't come on its own.</p>
			</div>
		</footer>
		<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
	</body>
</html>