<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0 />

		<meta name="Description" content="" />
		<meta name="Keywords" content="" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="" />
		<meta property="og:description" content="" />
		<meta property="og:url" content="" />
		<meta property="og:image" content="" />
		<meta name="twitter:card" content="summary_large_image" />

		<link rel="stylesheet" href="https://use.typekit.net/nuf5sid.css" />
		<link rel="stylesheet" href="banner-font.css" />

		<!--[if lt IE 9] />
		<script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
		<script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<header class="site-header">
			<div class="container">
				<nav class="header">
					<a class="header__logo" href="./"><img src="../images/logo.svg" alt="logo" /></a>
					<ul class="header__nav">
						<li class="menu-features"><a href="./features.html">Features</a></li>
						<li class="menu-how-it-works"><a href="./how-it-works.html">How it works</a></li>
						<li class="menu-badges"><a href="./badges.html">Badges</a></li>
						<li class="menu-reviews"><a href="./reviews.html">Reviews</a></li>
						<li class="menu-join"><a href="./join.html">Join</a></li>
					</ul>
					<div class="hamburger">
						<div class="hamburger-icon"></div>
					</div>
				</nav>
			</div>
		</header>
	</body>
</html>
