/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * geller-headline:
 *   - http://typekit.com/eulas/00000000000000007735e6f1
 * noto-sans:
 *   - http://typekit.com/eulas/00000000000000007735b967
 *
 * © 2009-2021 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-12-15 04:00:10 UTC"}*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap');

@font-face {
	font-family: 'Trola';
	src: url('http://db.onlinewebfonts.com/t/41623e0e30b82dbe866add951852f831.eot'); /* IE9*/
	src: url('http://db.onlinewebfonts.com/t/41623e0e30b82dbe866add951852f831.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('http://db.onlinewebfonts.com/t/41623e0e30b82dbe866add951852f831.woff2') format('woff2'), /* chrome firefox */ url('http://db.onlinewebfonts.com/t/41623e0e30b82dbe866add951852f831.woff') format('woff'), /* chrome firefox */ url('http://db.onlinewebfonts.com/t/41623e0e30b82dbe866add951852f831.ttf') format('truetype'), /* chrome firefox opera Safari, Android, iOS 4.2+*/ url('http://db.onlinewebfonts.com/t/41623e0e30b82dbe866add951852f831.svg#Trola') format('svg'); /* iOS 4.1- */
}
